
<table class="tabpayscir">
    {{#each listeCircuits}}
    <tr><td><img style="width: 5%;" src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" />
     <a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />


