<table class="tabpayscir">
    {{#each listeResultat}}
    <tr><td><img style="width: 5%;" src="/image/pays/{{this.payadrdrap}}"/>
     <a href="/detailgp/{{this.gpnum}}"> {{this.gpnom}}</a>
    </td></tr>


 {{/each}}
</table>

<br class="myboth" />
