<h1 style="text-align: center;">Ajouter d'une écurie</h1>


<form method="post" action="/ajouterEcurie/info" enctype="multipart/form-data">
    <div id="saisie_prenom">
        <label>Nom* : </label> <input type="text" placeholder="Nom" name="nomEcurie" >
        
        <input name="idEcur" type="number" value="{{ inc countEcur.0.countEcu}}" style="display: none" required>
    </div>
    <br>

    <div id="saisie_nom">
        <label>Directeur</label> <input type="text" placeholder="Longueur" name="directeurEcurie" required>
    </div>
        <br>
    <div id="saisie_natio">
        <label>Pays : </label>
        <select name="paysEcur">
            {{#each ecuriePays}}
                <option value="{{this.paynum}}">{{this.paynom}}</option>
            {{/each}}
        </select>
    </div>
    <br>
      <label>Logo écurie : </label>
   <input name="photoEcurie" type="file" required>
   <br>
   <br>
    <br>
        <div id="saisie_pds">
        <label>Adresse du siège</label> <input type="text" style="height: 100px; width:200px"; placeholder="16 rue du montPhillipe 75012 Paris" name="adrSiege">
    </div>
    <br>
                <div id="saisie_description">
        <label>Points</label> <input type="text" placeholder="132" name="ptsEcurie">pts
    </div>
    <br>
    <div class="buttons">
    <input type="submit" value="Valider">
    <input type="reset" value="Annuler">
    </div>

</form>