<div class="inline center">

<h3> Cliquez sur une lettre :</h3>

{{> firstLettersPilotes}}
</div>
<div class="inline center">
{{#each piloteInfo}}

 <a style="padding: 20px;" href="/infoPilote/{{this.PILNUM}}"><img class="small" src='/image/pilote/{{this.PHOADRESSE}}'>
 <p>{{this.PILNOM}} <br /> {{this.PILPRENOM}}</p>
 </a>
{{/each}}
</div>
